#Node Modules
node_modules/

#Eclipse Junk
.project
.settings

#Mac OS stuff
*.DS_Store

#Ctags
tags

#swp and tmp files
*.*~
*.swp

#build dependencies
test/cordova-blackberry/
test/cordova-mobile-spec/

#build output
target/
clientFiles/
lib/webworks-info.js
plugin/*/src/blackberry10/native/arm/*/*.o
plugin/*/src/blackberry10/native/arm/*/*.so
plugin/*/src/blackberry10/native/arm/*/*.a
plugin/*/src/blackberry10/native/arm/*/test
plugin/*/src/blackberry10/native/x86/*/*.a
plugin/*/src/blackberry10/native/x86/*/*.o
plugin/*/src/blackberry10/native/x86/*/*.so
plugin/*/src/blackberry10/native/x86/*/test
plugin/*/src/blackberry10/native/device/*.so
plugin/*/src/blackberry10/native/simulator/*.so
test/test-app/app/*
test/test-suite/app/*
test/autorun-mobile-spec/app/*
test/mobile-spec/
test/test-app/project.json
test/test-suite/project.json

