<!--
Copyright 2013  QNX Software Systems Limited

Licensed under the Apache License, Version 2.0 (the "License"). You
may not reproduce, modify or distribute this software except in
compliance with the License. You may obtain a copy of the License
at: http://www.apache.org/licenses/LICENSE-2.0.

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OF ANY KIND, either express or implied.
This file may contain contributions from others, either as
contributors under the License or as licensors under other terms.
Please review this entire file for other proprietary rights or license
notices, as well as the applicable QNX License Guide at
http://www.qnx.com/legal/licensing/document_archive/current_matrix.pdf
for other information.
-->
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	id="com.qnx.message"
	version="1.0.0">
	<js-module src="www/client.js">
		<clobbers target="qnx.message" />
	</js-module>

	<platform name="blackberry10">
		<source-file src="src/blackberry10/index.js" />
		<source-file src="src/blackberry10/context.js" />
		<source-file src="src/blackberry10/message.js" />
		<source-file src="src/blackberry10/servicenotification.js" />
		<source-file src="src/blackberry10/servicestate.js" />
		<source-file src="src/blackberry10/servicestatus.js" />
		<config-file target="www/config.xml" parent="/widget">
			<feature name="com.qnx.message" value="com.qnx.message" />
		</config-file>
	</platform>
</plugin>
