<?xml version="1.0"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" id="com.blackberry.display" version="1.0.0">
  <description>BlackBerry 10 Display APIs</description>
  <license>Apache 2.0</license>
  <platform name="blackberry10">
    <dependency id="com.blackberry.utils"/>
    <js-module src="www/client.js">
      <clobbers target="blackberry.display"/>
    </js-module>
    <source-file src="src/blackberry10/index.js"/>
    <lib-file src="src/blackberry10/native/device/libdisplay.so" arch="device"/>
    <lib-file src="src/blackberry10/native/simulator/libdisplay.so" arch="simulator"/>
    <config-file target="www/config.xml" parent="/widget">
      <feature name="com.blackberry.display" value="com.blackberry.display"/>
    </config-file>
  </platform>
</plugin>
