<!DOCTYPE HTML>
<html>
<head>
  <title>WebWorks Test Report</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/report.js"></script>
</head>
<body>
  <table id="TestReport" border="1">
  	<caption>Test Report</caption>
    <tr>
      <td id="TestSummary" colspan="6">

      </td>
    </tr>
  	<tr>
  	  <th colspan="2" rowspan="2">Test Suites</th>
  	  <th colspan="3">Assertions</th>
  	  <th rowspan="2">Test Result</th>
  	</tr>
  	<tr>
      <th>Passed</th>
      <th>Failed</th>
      <th>Total</th>
  	</tr>
  </table>
</body>
</html>
